/** Global */
.class-banner {
    width: 100%;
    margin: auto;
    height: 300px;
}

.wrapper {
    margin: auto;
    width: 60%;
}

.class-title-header {
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: -30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    z-index: 999;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 600ms;
  }

  .button {
      padding: 10px 20px;
      background-color: white;
      border: none;
      box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.185);
      border-radius: 8px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      transition-duration: 400ms;
  }

  .button:hover {
      transition-duration: 400ms;
      transform: translateY(-3px);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .card-left {
      background-color: white;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 8px;
      box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.185);
    padding: 20px;
  }

  .card-left .teacher-icon {
      float: left;
      margin-right: 10px;
      border-radius: 8px;
  }

  .app-icon {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    transition-duration: 400ms;
}

.app-icon.webmail:hover {
    box-shadow: 0px 4px 20px -4px rgba(0, 132, 255, 0.705);
    transition-duration: 400ms;
    transform: translateY(-3px);
}
.app-icon.classroom:hover {
    box-shadow: 0px 4px 20px -4px rgba(0, 255, 64, 0.705);
    transition-duration: 400ms;
    transform: translateY(-3px);
}

/** Math Methods */
.class-banner.maths {
    background: url("/public/images/math-methods-bkg.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-banner.english {
  background: url('/public/images/english-bkg.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.class-banner.applied-computing {
  background: url('/public/images/applied-computing-bkg.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}