<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSchool | Classes</title>
    <link rel="stylesheet" href="/public/css/home.css" />
</head>
<body>
    <%- include('components/navigation') %>
    <div class="main-wrapper" style="margin-top: 100px;background-color: white;">
        <h2 style="color: rgb(66, 66, 66); font-weight: bolder;">Classes</h2>
        <div class="classes-table">
            <br><br>
            <div class="class-card maths">
                <div style="float: left;padding:10px;color:white;">
                    <h3 style="margin-bottom: -2px;">Mathematics - Methods</h3>
                <small class="class-code">11MA1111A (2021 Academic)</small><br><br><br>
                <a class="button" href="/classes/math-methods-11ma1111a">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: William Lennie<br>
                        Room: M3<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
            <div class="class-card english">
                <div style="float: left;padding:10px;color:white;">
                    <h3 style="margin-bottom: -2px;">English</h3>
                <small class="class-code">11MA1111A (2021 Academic)</small><br><br><br>
                <a class="button" href="#">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: Kevin Maunder<br>
                        Room: H13<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
            <div class="class-card computing">
                <div style="float: left;padding:10px;color:white;">
                    <h3 style="margin-bottom: -2px;">Applied Computing</h3>
                <small class="class-code">11MA1111A (2021 Academic)</small><br><br><br>
                <a class="button" href="#">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: Phillip Donald<br>
                        Room: C3<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
            <div class="class-card pathways">
                <div style="float: left;padding:10px;color:white;">
                    <h3 style="margin-bottom: -2px;">Yr11 Pathways</h3>
                <small class="class-code">11MA1111A (2021 Academic)</small><br><br><br>
                <a class="button" href="#">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: Phillip Donald<br>
                        Room: C1<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
            <div class="class-card other">
                <div style="float: left;padding:10px;">
                    <h3 style="margin-bottom: -2px;">VET Business</h3>
                <small class="class-code">11ZBU114A (2021 Academic)</small><br><br><br>
                <a class="button" href="#">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: Tauree Kay<br>
                        Room: C3<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
            <div class="class-card other">
                <div style="float: left;padding:10px;">
                    <h3 style="margin-bottom: -2px;">Accounting</h3>
                <small class="class-code">11MA1111A (2021 Academic)</small><br><br><br>
                <a class="button" href="#">View Class</a>
                <a class="button" href="#">Edit Info</a>
                </div>
                <div class="info-class-card" style="float:right;">
                    <p>
                        Assignments: 0<br>
                        Lessons Attended: 0<br>
                        Teacher: Phillip Donald<br>
                        Room: C2<br>
                    </p>
                </div>
                <br><br>
            </div>
            <br>
        </div>
    </div>
    <%- include("components/footer") %>
</body>
</html>