<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSchool | Home</title>
    <link rel="stylesheet" href="/public/css/home.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div style="height: 15%;width: 100%;background-color: rgba(255, 208, 0, 0.521);font-family: 'Google Sans Medium', sans-serif;color: white;padding:5px 10px;">
        <h5>Notice: This website is still in beta mode. Many features might not work as intended.</h5>
    </div>
    <div style="float:left;height:100%;">
        <%- include("components/navigation") %>
    </div>
    <div style="float: right;width:70%;margin-top: 50px;margin-left: 100px;">
        <h2 style="font-family: 'Product Sans Black', sans-serif;">Welcome back!</h2>
        <br>
        <div class="banner new-site-promo">
            <h3>Introducing... the new and improved eSchool site!</h3>
            <small>Now with better style, color, and better... WOW.</small>
        </div>
        <br>
        <div class="banner apps-banner">
            <h6>Your Applications</h6>
            <a class="app-icon webmail" style="margin-left: 20px;" href="https://webmail.milsen.vic.edu.au" target="popup" onclick="window.open('https://webmail.milsen.vic.edu.au','popup','width=1080,height=720'); return false;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Outlook_hi-res_icon_%282019%29.svg" width="70px">
            </a>
            <a class="app-icon classroom" href="https://classroom.google.com/a/milsen.vic.edu.au/" target="popup" onclick="window.open('https://classroom.google.com/a/milsen.vic.edu.au/', 'popup', 'width=1080,height=720'); return false;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Google_Classroom_icon.svg" width="70px">
            </a>
            <a class="app-icon compass" href="https://milsen-vic.compass.education/" target="popup" onclick="window.open('https://milsen-vic.compass.education/', 'popup', 'width=1080,height=720'); return false;">
                <img src="https://assets.website-files.com/5d48b7ac15f2c10c0ffae816/5d64ea576ed3ee71a1a0cd71_cropped-Site-Favicon-256.png" width="60px">
            </a>
            <a class="app-icon notion" href="https://notion.so/" target="popup" onclick="window.open('https://notion.so', 'popup', 'width=1080,height=720'); return false;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png" width="60px">
            </a>
            <a class="app-icon ivet" href="https://portal.ivetinstitute.com.au" target="popup" onclick="window.open('https://portal.ivetinstitute.com.au', 'popup', 'width=1080,height=720'); return false;">
                <img src="https://d25sesec4kl7l2.cloudfront.net/assets/logo-big-a2cdee9460ebed87a1afb8989955783d4f6e369e641c2e3e71002d7605943921.png" width="60px">
            </a>
        </div>
        <br>
        <div class="seperator">
            <div class="left">
                <div class="section">
                    <%- include('components/timetable') %>
                </div>
            </div>
        </div>
    </div>
 </body>
</html>
