<div class="footer">
    <div class="footer-left">
        <small>Copyright &copy; 2021 eSchool and its affiliates. All rights reserved.</small>
    </div>
    <div class="footer-right">
        <small><a href="/terms/v1/terms-of-use-revised-1">Terms of Use</a> | <a href="/terms/v1/privacy-policy-revised">Privacy Policies</a></small>
    </div>
</div>